@import '_mixins';

.slider {
    position: relative;
    display: flex;
    align-items: center;
    height: 474px;
    width: 100%;
    background-image: url('../img/bg-slider.png');
    overflow: hidden;


    .slider-background {
        position: absolute;
        width: 100%;
        top: 35px;
        left: 110px;

    }

    .slider-content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        margin: 150px 0 0 100px;

        h1 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 0;
        }

        h2 {
            font-size: 24px;
            font-weight: 400;
        }

        .slider-button {
            @include button(145px, 40px);
            margin-top: 30px;

        }
    }

    .slider-main {
        width: 50%;
        height: 100%;
        position: relative;

        .slider-contener {
            position: absolute;
            width: 500px;
            height: 500px;
            top: 45px;
            left: 90px;
        }
    }

    @media screen and (max-width: 600px) {
        .slider-content {
            justify-content: center;
            margin: 0 0 0 100px;

            h1 {
                font-size: 15px;
                text-align: center;
            }

            h2 {
                display: none;
            }

        }
    }
}